Django==5.1.1
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
gunicorn
psycopg2-binary
whitenoise
dj-database-url
Pillow
django-filter
django-crispy-forms
django-widget-tweaks
requests
APScheduler